body {
    padding: 0;
    margin: 0;
}

/*********************** HEADER *****************************/
header {
    margin-bottom: 40px;
}

header h1 {
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-size: 55px;
    color: #121212;
    margin-top: 20px;
    margin-bottom: 20px;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*********************** NAVBAR *****************************/
nav.navbar.navbar-expand-md.yellow {
    background: #FF804D;
    opacity: 0.6;
}

.nav-item a {
    margin-right: 30px;
    color: #FFF;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.nav-item a:hover {
    color: #121212;
    text-decoration-line: none;
}

.nav-item a::after {
    content: "/";
    margin: 0 0rem 0 1.5rem;
}

@media screen and (max-width: 768px) {
    .nav-item a::after {
        display: none;
    }
}

/*********************** CAROUSEL *****************************/
.carousel-inner {
    height: 800px;
    width: auto;
    overflow: hidden;
}

.carousel-item img {
    height: 700px;
    object-fit: cover;
}

section#timeline h4 {
    font-family: 'Montserrat', sans-serif;
    color: #FF804D;
    font-size: 40px;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 90px;
}

section#timeline h4 hr {
    color: #FF804D;
    size: 1px;
}

/*********************** TIMELINE *****************************/
ul.timeline {
    list-style-type: none;
    position: relative;
    margin-bottom: 90px;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline>li:before {
    content: ' ';
    background: #FF804D;
    opacity: 0.8;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    /*border: 2px solid #121212;*/
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

ul.timeline li a#event {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    color: #121212;
}

ul.timeline li a#event:hover {
    color: #FF804D;
    text-decoration: none;
}

ul.timeline li a.float-right {
    color: #121212;
}

ul.timeline li p {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    margin-top: 6px;
}

/*********************** FOOTER *****************************/
footer {
    background-color: #FF804D;
    display: block;
    height: 300px;
    opacity: 0.8;
}

footer ul {
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 45px;
    list-style: none;
}

footer ul li a {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    list-style-type: none;
    margin: auto;
}

footer ul li a:hover {
    text-decoration-line: none;
    color: #121212;
}

footer ul li hr {
    color: #FFF;
}

footer ul#social_networks {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer ul#social_networks li.rezo {
    list-style: none;
}

footer ul#social_networks li.rezo a {
    width: 52px;
    height: 52px;
    text-align: center;
    line-height: 60px;
    font-size: 35px;
    margin: 0 3px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

footer ul#social_networks li.rezo a .fab {
    position: relative;
    color: #fff;
    transition: .5s;
}

footer ul#social_networks li.rezo a:hover .fab {
    transform: rotateY(360deg);
    color: #121212;

}

@media screen and (max-width: 768px) {
    ul.timeline li a#event {
    text-decoration-line: underline;
    
    }
    }
    
@media screen and (max-width: 768px) {
    ul.timeline li a.float-right {
    display: none;
    }
    }