body {
    padding: 0;
    margin: 0;
}


nav.navbar.navbar-expand-md.yellow {
    background: #FF804D;
    opacity: 0.6;
}

.nav-item a {
    margin-right: 30px;
    color: #FFF;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.nav-item a:hover {
    color: #121212;
    text-decoration-line: none;
}

.nav-item a::after {
    content: "/";
    margin: 0 0rem 0 1.5rem;
}


.photo {

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}


p {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    margin-top: 6px;
}
.title1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-align: center;
    letter-spacing: 6px;
    color: #FF804D;
}

hr {
    text-align: center ;
}
.title2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-align: center;
    letter-spacing: 6px;
    color: #FF804D;
}



footer {
    background-color: #FF804D;
    display: block;
    height: 300px;
    opacity: 0.8;
}

footer ul {
    padding : 0 ;
    margin : 0 ;
    text-align: center;
    padding-top: 45px;
    list-style: none;
}


footer ul li a {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    list-style-type: none;
}

footer ul li a:hover {
    text-decoration-line: none;
    color: #121212;
}

footer ul li hr {
    color: #FFF;
}

footer ul#social_networks {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer ul#social_networks li.rezo {
    list-style: none;
}

footer ul#social_networks li.rezo a {
    width: 52px;
    height: 52px;
    text-align: center;
    line-height: 60px;
    font-size: 35px;
    margin: 0 3px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

footer ul#social_networks li.rezo a .fab {
    position: relative;
    color: #fff;
    transition: .5s;
}

footer ul#social_networks li.rezo a:hover .fab {
    transform: rotateY(360deg);
    color: #121212;

}



a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

@media screen and (max-width: 768px) {
    .nav-item a::after {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .reduce {
        height: 650px !important;
        
    }
}

/* offset-1 col-md-5 mb-5 offset-1 z-depth-1 shadow-lg p-3 bg-white rounded reduce */